/* ------------------------------------------------------------------------------------------------------------------
BASE
------------------------------------------------------------------------------------------------------------------ */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font: 1.8rem "Roboto", sans-serif;

    color: #000;
    background-color: #E6EDF1;

    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/* ------------------------------------------------------------------------------------------------------------------
COMPONENTS
------------------------------------------------------------------------------------------------------------------ */

/* ------- Header ------- */

/* ------- Section Héro ------- */

/* ------- Section Produits ------- */

/* ------- Footer ------- */

/* ------- Fenêtre Modale ------- */