/* ------------------------------------------------------------------------------------------------------------------
BASE
------------------------------------------------------------------------------------------------------------------ */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font: 1.8rem "Roboto", sans-serif;

    color: #000;
    background-color: #E6EDF1;

    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/* ------------------------------------------------------------------------------------------------------------------
COMPONENTS INDEX
------------------------------------------------------------------------------------------------------------------ */

/* ------- Général ------- */

a{
    text-decoration: none;
    color: inherit;
}

.bouton{
    background-color: #7CD79A;
    color: #FFF;
    border: solid 2px #7CD79A;
}

.bouton:hover{
    background-color: inherit;
    color: #7CD79A;
    border: solid 2px #7CD79A;
}

.btn{
    display: flex;
    justify-content: center;

    padding-bottom: 45px;
}

h2{
    font: bold 3rem "Nunito Sans", sans-serif;
    text-transform: uppercase;

    padding: 45px 0 30px;
    margin: 0;
}

h3{
    font: 2.4rem "Orienta", sans-serif;

    margin: 0;
}

h5{
    font: 600 2.4rem "Oswald", sans-serif;

    margin: 0;
}

/* ------- Header ------- */

header{
    background-color: #6F7292;
    color: #EBF6FF;
    position: sticky;
    top: 0;
}

header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    display: flex;
    gap: 5px;
    align-items: center;
}

header ul{
    list-style: none;

    display: flex;
    gap: 30px;
    justify-content: flex-end;

    padding: 30px 0 30px;
    margin: 0;
}

header img{
    height: 32px;
    width: 32px;
}

header nav a:hover, header .logo:hover p{
    color: #AEFAF6;
    border-bottom: solid 1px #AEFAF6;
    border-top: solid 1px #AEFAF6;

    padding: 5px 0 5px;
}

/* ------- Section Héro ------- */

.hero{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/hero.jpg) center/cover no-repeat;
}

h1{
    font: bold 4rem "Nunito Sans", sans-serif;
    color: #FFF;
    text-align: center;

    padding: 170px 0 170px;
    margin: 0;
}

/* -------Section Bulletin ------- */

.bulletin{
    background-color: #000;
    color: #FFF;
}

.bulletin .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bulletin h5{
    padding: 50px 0 50px;
}

.bulletin a{
    text-transform: uppercase;

    padding: 10px 30px 10px 30px;
}

/* ------- Section Produits ------- */

.produits{
    background-color: #FFF;
    display: flex;
}

.produits .conteneur{
    display: flex;
    gap: 15px;
}

.produits h3{
    text-transform: uppercase;

    padding: 20px 0 30px;
}

.produit article{
    position: relative;
}



.produits img{
    border: solid 3px #3CA6A0;
}

.produits .bouton{
    padding: 15px 40px 15px 40px;
}

/* ------- Section Équipe ------- */

.equipe{
    background-color: #DEDEDE;
    border-bottom: solid 5px #B291D5;
    border-top: solid 5px #B291D5;
}

.equipe .conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.equipe h2, .equipe h3, .equipe p{
    text-align: center;

    margin: 0;
}

.equipe h3{
    padding-bottom: 5px;
}

.equipe article p{
    padding-bottom: 40px;
}

.equipe img{
    border: solid 3px #B291D5;
    width: 100%;

    margin: 30px 0 40px;
}

/* ------- Section Contact ------- */

.contact{
    background-color: #000;
    color: #FFF;
}

.contact h2{
    text-align: center;
}

.contact p{
    text-align: center;
}

.contact .bouton{
    padding: 15px 35px 15px 35px;
}

.contact .btn{
    padding-top: 30px;
}

.carte{
    background: url(../images/carte.jpg) no-repeat center/cover;
    height: 508px;

    position: relative;
}

.contact img{
    position: absolute;
    right: 950px;
    top: 200px;
}

/* ------- Footer ------- */

footer{
    background-color: #6F7292;
    color: #EBF6FF;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    list-style: none;

    display: flex;
    justify-content: flex-start;
    gap: 35px;

    padding: 35px 0 30px;
    margin: 0;
}

footer p{
    margin: 0;
    padding-bottom: 50px;
}

footer a{
    display: inline-block;
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer li{
    background-repeat: no-repeat;
}

.youtube{
    background-image: url(../images/youTube_inactif.png);
}

.youtube:hover{
    background-image: url(../images/youTube_actif.png);
}

.facebook{
    background-image: url(../images/facebook_inactif.png);
}

.facebook:hover{
    background-image: url(../images/facebook_actif.png);
}

.instagram{
    background-image: url(../images/instagram_inactif.png);
}

.instagram:hover{
    background-image: url(../images/instagram_actif.png);
}

.tumblr{
    background-image: url(../images/tumblr_inactif.png);
}

.tumblr:hover{
    background-image: url(../images/tumblr_actif.png);
}

.linkedin{
    background-image: url(../images/linkedin_inactif.png);
}

.linkedin:hover{
    background-image: url(../images/linkedin_actif.png);
}

footer .material-symbols-outlined{
    border: solid 3px #EBF6FF;
    border-radius: 100%;

    height: 42px;
    width: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .material-symbols-outlined:hover{
    border: solid 3px #AEFAF6;
    color: #AEFAF6;
}

/* ------- Fenêtre Modale ------- */

.modale{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 70%);

    display: none;
    justify-content: center;
    align-items: center;
}

.visible{
    display: flex;
}

.zoom{
    width: 620px;
    height: 620px;
}

/* ------------------------------------------------------------------------------------------------------------------
COMPONENTS PAGE PRODUITS
------------------------------------------------------------------------------------------------------------------ */

/* ------- Général ------- */

.vedette, .ecrans{
    background-color: #FFF;
}

.tablettes, .accessoires{
    background-color: #DEDEDE;
}

/* ------- Section Vedette ------- */

.vedette{

}

.vedette .conteneur{
    display: flex;
    gap: 20px;
    align-items: center;
}

.vedette h2{
    text-align: center;
}

.vedette p{
    padding: 20px 0 40px;
}

.vedette img{
    height: 400px;
    padding-bottom: 30px;
}

.vedette .bouton{
    padding: 15px 20px 15px 20px;
    margin-top: 20px;
}

/* ------- Sections Des Produits ------- */

.autres .conteneur{
    display: flex;
    gap: 30px;
}

.autres .conteneur img{
    border: solid 3px #3CA6A0;
    width: 100%;

    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------
COMPONENTS PAGE ARTICLES
------------------------------------------------------------------------------------------------------------------ */

/* ------- Section Produit ------- */

.produit{
    background-color: #FFF;
}

.produit article{
    display: flex;
    gap: 40px;
    align-items: center;
}

.produit article .conteneur .conteneur{
    display: flex;
    justify-content: space-around;

    padding-bottom: 40px;
}

.produit article a{
    padding: 10px 30px 10px 30px;
}

.produit article img{
    width: 3000px;
    height: 100%;
    border: solid 5px #B291D5;
}

.produit aside{
    text-align: center;
    border-top: solid 3px #3CA6A0;
}

.produit aside .conteneur{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.produit aside img{
    width: 100%;
    height: 500px;
}

.produit aside .material-symbols-outlined{
    font-size: 5rem;

    background-color: #DEDEDE;
    border: solid 3px #000000;
    border-radius: 100%;

    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.produit aside .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 50px 0 50px;
}

/* ------- Section Produits Simulaire ------- */

.simulaire{
    background-color: #DEDEDE;
}

.simulaire .conteneur{
    display: flex;
    gap: 30px;

    padding-bottom: 30px;
}

.simulaire img{
    border: solid 3px #3CA6A0;
    width: 100%;
}

.simulaire .bouton{
    padding: 10px 20px 10px 20px;

    display: flex;
    justify-content: center;
}

